.todo-list{
  border: 2px solid black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.658);
  background: linear-gradient(to right, #ED5565, #D62739);
  width: 50vw;
  margin: auto;
  text-align: center;
  border: 2px solid white;
}

.todo-list i{
  font-size: 5.5rem;
  background-color: white;
  color: rgb(189, 12, 12);
}
